@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import './legacyStyles/main/body.css';
@import './legacyStyles/main/animation.css';
@import './legacyStyles/main/general.css';
@import './legacyStyles/main/otherPagesGeneral.css';
@import './legacyStyles/main/responsive.css';

@theme {
    --color-primary: #2bdcd2;
    --color-primary-content: #171717;
    --color-secondary: #016968;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
}

@layer components {
    
}
