@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import './legacystyles/main/body.css';
@import './legacystyles/main/animation.css';
@import './legacystyles/main/general.css';
@import './legacystyles/main/otherPagesGeneral.css';
@import './legacystyles/main/responsive.css';

@theme {
    --color-primary: #2bdcd2;
    --color-primary-content: #171717;
    --color-secondary: #016968;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
}

@layer components {
    
    /*SIDEBAR*/
    .sidebar {
        @apply top-0 left-0 h-full flex-0 p-6;
        z-index: 1000;
    }

    .sidebar-wrapper {
        @apply h-full w-full bg-black flex flex-col items-center justify-center;
        gap: 16px;
    }

    .sidebar-wrapper a {
        @apply no-underline text-black italic bg-white text-center h-10 w-10 flex items-center justify-center rounded font-extrabold;
        transition: all 0.3s ease;
    }

    .sidebar-wrapper a:active {
        transform: scale(0.7);
    }
    
    .sidebar-wrapper a.active {
        @apply text-white;
        background: rgba(183, 134, 11, 1);
        transform: scale(1.2);
        box-shadow: 0 0 15px rgba(255, 215, 0, 1);;
        animation: pulse 1.5s infinite;
        transform: scale(1.3);
    }
}
